.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-form {
  width: 400px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  border-radius: 10px;
}
